<p>product-fiver works!</p>


<div class="row">
    <div class="col-2">
        <app-product-card [product]="productList[0]"></app-product-card>
    </div>
    <div class="col-2">
        <app-product-card [product]="productList[1]"></app-product-card>
    </div>
    <div class="col-2">
        <app-product-card [product]="productList[2]"></app-product-card>
    </div>
    <div class="col-2">
        <app-product-card [product]="productList[3]"></app-product-card>
    </div>
    <div class="col-2">
        <app-product-card [product]="productList[4]"></app-product-card>
    </div>
</div>