<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        <p>{{ product.name }}</p>
      </h5>
      <p class="card-text">{{ product.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ product.active }}</li>
      <li class="list-group-item">{{ product.stock }}</li>
      <li class="list-group-item">{{ product.price }}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
 
<p>{{ product.id }}</p>
<p>{{ product.catId }}</p>

<p></p>
<p>{{ product.image }}</p>
<p></p>
<p></p>
<p>{{ product.featured }}</p>
<p></p>
