<div class="card text-center">
    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text"><small class="text-info">{{ product.stock }} boxes in stock</small></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item font-weight-bold text-danger">{{ product.price }}</li>
        <li class="list-group-item">
            <a href="#" class="btn btn-success">Buy now!</a>
        </li>
    </ul>
</div>