<h2>Featured Red Products</h2>
<app-product-fiver
[productList$]="cat02Products$ | featured | random" 
></app-product-fiver>
<h2>All Red Products</h2>
<div class="mb-2">
    <form class="form-inline my-2 my-lg-0">
        <!--onChangePhrase($event) metódus az input elem keyup eseményére.-->
        <input (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="Product Name">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

<div class="container">
    <app-product-list 
    [phraseString]="phrase" 
    [productList$]="cat02Products$"
    ></app-product-list>
</div>
